n8nAutoReply/E-MA-CPL1-16-n8nAutoReply_BlinarFETIU.json
{
  "name": "E-MA-CPL1-16-n8nAutoReply_BlinarFETIU",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -16
      ],
      "id": "12d39d9b-f452-4f7a-a04b-9e1ffcc3652e",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sGU27deXUXRwld4i",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const subject = item.json.subject || \"\";\n const body = item.json.body || \"\";\n return {\n json: {\n ...item.json,\n text_for_embedding: `search_query: Objet:\n${subject}\\nMessage:\\n${body}`\n }\n };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -16
      ],
      "id": "980b7776-9f87-461d-9eff-7a7fe86454b3",
      "name": "text_for_embedding"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        64
      ],
      "id": "47abc4fc-dee3-4e3a-b6b0-b065945465f5",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "={{$json.text_for_embedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -224
      ],
      "id": "8ee50816-732b-450d-953e-acf866fb5fbb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fileSelector": "/data/embeddingsBlinarFETIU.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        528,
        -80
      ],
      "id": "e8ed0c00-c4c8-4076-9390-430097de19eb",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -80
      ],
      "id": "7bfeff07-a51b-4a14-a939-abc0f071224e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all();\n \nlet emails = [];\n \nraw.forEach(item => {\n  const dataArray = item.json.data || [];\n \n  dataArray.forEach(d => {\n    if (d.line) {\n      try {\n        const parsed = JSON.parse(d.line);\n \n        emails.push({\n          subject: parsed.subject || \"\",\n          body_text: parsed.body_text || \"\"\n        });\n \n      } catch (e) {}\n    }\n  });\n});\n \nif (emails.length < 2) {\n  return [\n    {\n      json: {\n        message: \"Pas assez d'emails pour calculer une similarité\",\n        count: emails.length\n      }\n    }\n  ];\n}\n \nfunction tokenize(text) {\n  if (!text) return [];\n \n  return text\n    .toLowerCase()\n    .replace(/[^\\w\\s]/g, \"\")\n    .split(/\\s+/)\n    .filter(Boolean);\n}\n \nfunction buildVocabulary(docs) {\n  const vocab = new Set();\n \n  docs.forEach(doc => {\n    tokenize(doc).forEach(word => vocab.add(word));\n  });\n \n  return Array.from(vocab);\n}\n \nfunction textToVector(text, vocab) {\n  const words = tokenize(text);\n \n  const freq = {};\n  words.forEach(w => {\n    freq[w] = (freq[w] || 0) + 1;\n  });\n \n  return vocab.map(word => freq[word] || 0);\n}\n \nfunction dot(a, b) {\n  return a.reduce((sum, v, i) => sum + v * b[i], 0);\n}\n \nfunction magnitude(v) {\n  return Math.sqrt(v.reduce((s, x) => s + x * x, 0));\n}\n \nfunction cosine(a, b) {\n  const denom = magnitude(a) * magnitude(b);\n  if (!denom) return 0;\n  return dot(a, b) / denom;\n}\n \nconst vocab = buildVocabulary(emails.map(e => e.body_text));\n \nconst vectors = emails.map(e => textToVector(e.body_text, vocab));\n \nconst avgVector = [];\n \nfor (let i = 0; i < vocab.length; i++) {\n  let sum = 0;\n \n  for (let j = 0; j < vectors.length; j++) {\n    sum += vectors[j][i];\n  }\n \n  avgVector.push(sum / vectors.length);\n}\n \nconst results = emails.map((email, i) => {\n  const vec = vectors[i];\n  const similarity = cosine(vec, avgVector);\n \n  return {\n    json: {\n      subject: email.subject,\n      body_text: email.body_text,\n      similarity: Number(similarity.toFixed(2))\n    }\n  };\n});\n \nresults.sort((a, b) => b.json.similarity - a.json.similarity);\n \nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        144
      ],
      "id": "bd3d1bfd-70d1-466b-ac38-3307daa6ced9",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Récupère les 3 similaires (input)\n \nconst emails = $input.all().slice(0,3);\n// Reconstruit l'email entrant depuis le 1er embedding (contexte préservé)\n \nconst incoming = {\n \n  subject: $('Microsoft Outlook Trigger').first().json.subject,\n \n  sender: $('Microsoft Outlook Trigger').first().json.from,\n \n  body: $('Microsoft Outlook Trigger').first().json.bodyPreview\n \n};\n// FORMAT EXACT (une seule ligne)\n \nconst prompt = `EMAIL REÇU Sujet: ${incoming.subject} Expéditeur: ${incoming.sender} Contenu: ${incoming.body} EMAILS SIMILAIRES Email 1: Sujet: ${emails[0].json.subject} Contenu: ${emails[0].json.body_text} Email 2: Sujet: ${emails[1]?.json.subject} Contenu: ${emails[1]?.json.body_text} Email 3: Sujet: ${emails[2]?.json.subject} Contenu: ${emails[2]?.json.body_text} CONSIGNE Rédige une réponse professionnelle.`;\n\n// Debug (optionnel)\n \nconsole.log(prompt);\nreturn [{ json: { rag_prompt: prompt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        144
      ],
      "id": "a8106af5-2fa5-42a4-9e8a-75741e29afc4",
      "name": "Build RAG Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"prompt\": {{ JSON.stringify($json.rag_prompt) }},\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        144
      ],
      "id": "761f3380-167e-4bda-bdc7-6e100b6e499f",
      "name": "HTTP Request - Generate Reply"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      generated_reply: item.json.response\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        144
      ],
      "id": "7e9a56a9-0c64-4678-ab83-82a0eb01d994",
      "name": "Format Generated Reply"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": {
          "__rl": true,
          "value": "={{$node[\"Microsoft Outlook Trigger\"].json.id}}",
          "mode": "id"
        },
        "message": "={{ $json.generated_reply.replace(/\\n/g, \"<br>\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1792,
        144
      ],
      "id": "b5f26ea1-a7b8-45a8-8e1d-c96a03c8567f",
      "name": "Reply to a message",
      "webhookId": "32f79f6b-796f-4864-a7dc-ecca73d99bcb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "sGU27deXUXRwld4i",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "text_for_embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text_for_embedding": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Build RAG Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request - Generate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Generate Reply": {
      "main": [
        [
          {
            "node": "Format Generated Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Generated Reply": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f9452146-45aa-49c8-9374-0612b217ece3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "ejS8Z9Dbak1hwZkp",
  "tags": []
}